@import "../../../scss/variables";

.wrap {
  position: relative;
  width: 100%;
  height: calc(100% - #{$heightHeight});
  background-color: #000000;
  overflow: hidden;

  .bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - #{$heightHeight});
    background-size: cover;
  }

  .screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: url("/assets/images/angular8/speech-bubble.svg");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;

  &:focus,
  &:active {
    outline: none;
  }


  &.play {
    top: 60px;
  }

  &.stop {
    top: 105px;
  }

  &.disappear {
    top: 150px;
  }

  &.speech {
    top: 20px;
  }
}
