@import "../scss/_bootstrap.scss";
@import "../scss/header";

@mixin menu-icon {
  position: relative;
  border : none;
  cursor : pointer;
}

@mixin menu-icon-after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content             : '';
  width               : 60px;
  height              : 60px;
  background-repeat   : no-repeat;
  background-position : center;
  background-size: 40%;

}

.menu.on.recording {
  @include menu-icon;
}

.menu.on.recording::after {
  @include menu-icon-after;
  background-image : url("../assets/images/mic.svg");
}

.menu.on.stop-watch {
  @include menu-icon;
}

.menu.on.stop-watch::after {
  @include menu-icon-after;
  background-image : url("../assets/images/stopwatch.svg");
}

.menu.on.version-1 {
  @include menu-icon;
}

.menu.on.version-1::after {
  @include menu-icon-after;
  background-image : url("../assets/images/metronome.svg");
}

.menu.on.version-8 {
  @include menu-icon;
}

.menu.on.version-8::after {
  @include menu-icon-after;
  background-image : url("../assets/images/metronome.svg");
}
