@import "../../../scss/_bootstrap.scss";
@import "../../../scss/header";

@mixin menu-icon {
  border : none;
  cursor : pointer;
}

@mixin menu-icon-after {
  display             : inline-block;
  content             : '';
  width               : 60px;
  height              : 60px;
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 50%;

}

.menu.on.recording {
  @include menu-icon;
  background-color : #dcdcdc;
}

.menu.on.recording::after {
  @include menu-icon-after;
  background-image : url("/assets/images/mic.svg");
}

.menu.on.stop-watch {
  @include menu-icon;
  background-color : #dcdcdc;
}

.menu.on.stop-watch::after {
  @include menu-icon-after;
  background-image : url("/assets/images/stopwatch.svg");
}

.menu.on.version-1 {
  @include menu-icon;
  background-color : #dcdcdc;
}

.menu.on.version-1::after {
  @include menu-icon-after;
  background-image : url("/assets/images/metronome.svg");
}
