<div class="metronome">
  <div class="row metronome-content top">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
      <app-tempo-display [tempo]="this.getTempo()" [runStatus]="this.getAnimation()"></app-tempo-display>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
      <app-beat></app-beat>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
      <app-sound></app-sound>
    </div>
  </div>
  <div class="row metronome-content middle">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
      <app-tempo-control></app-tempo-control>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
      <app-tempo-control-button></app-tempo-control-button>
    </div>
  </div>
  <div class="row metronome-content bottom">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
      <app-volume></app-volume>
    </div>
    <div class="col-xs-6 col-sm-4 col-sm-offset-4 column">
      <app-run></app-run>
    </div>
  </div>
</div>
