@import "variables";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1024px;
    height: $heightHeight;

    .header-title {

        p {
            color: #000;
            font-size: 3.6rem;
            line-height: 29px;
            font-weight: 100;
            letter-spacing: 5px;
        }

        @media (max-width:$screen-xs-max) {
            p {
                font-size: 2rem;
            }
        }
    }

    .header-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 230px;

        .menu {
            height: 47px;
            width: 47px;
            border: 2px solid #313131;
            border-radius: 50%;
            background-color: #fff;
            transition: opacity 0.15s ease-out;
            opacity: 1;

            &:hover {
                opacity: .8;
            }
        }
    }


    @media (max-width:$screen-xs-max) {
        .menu {
            height   : 40px;
            width    : 40px;
            margin-top: 10px;
        }
    }
}

